
main{
  background-color: lightgrey;
  width: 80%;
  border: 2px solid black;
  margin: auto;
  padding: 0 20px;
}
#right{
  float: right;
  text-align: right;
}
#right select{
  width: 160px;
}
h1{
  text-align: center;
}
